[submodule ".registry"]
	path = .registry
	url = https://github.com/juancyamin/juancyamin.r-universe.dev
	branch = HEAD
[submodule "cmrdesign"]
	path = cmrdesign
	url = https://github.com/juancyamin/cmrdesign
	subdir = r
